<div class="customer-container" *ngIf="loading">
    <div class="overlay">
        <app-spinner></app-spinner>
    </div>
</div>
<div class="customer-container" style="margin-bottom: 60px;">
    <div class="container-center">
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-9">
                    <h2 style="color: #A18FD3">Listado de roles</h2>
                </div>
                <div class="col-md-3 text-right">
                    <button class="btn button-color" (click)="openModal(null, true, false, false)">Registrar
                        rol</button>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table-striped custom-table">
                        <thead>
                            <tr>
                                <th>Id Rol</th>
                                <th>Rol</th>
                                <th>Abreviatura</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let appRole of listAppRole; let i = index">
                                <td>{{appRole.idRolApp}}</td>
                                <td>{{appRole.descripcionRolApp}}</td>
                                <td>{{appRole.abreviacionRolApp}}</td>
                                <td>{{appRole.estadoRolApp === 'A' ? 'ACTIVO' : (appRole.estadoRolApp === 'I' ?
                                    'INACTIVO' : '-')}}</td>
                                <td class="d-flex justify-content-center">
                                    <span class="mx-2">
                                        <i style="color: #8C30F5" class="bi bi-eye"
                                            (click)="openModal(appRole, false, true, false)"></i>
                                    </span>
                                    <span class="mx-2">
                                        <i style="color: #8C30F5" class="bi bi-pencil"
                                            (click)="openModal(appRole, false, false, true)"></i>
                                    </span>
                                    <span class="mx-2">
                                        <i *ngIf="appRole.estadoRolApp == 'A'" style="color: #8C30F5"
                                            class="bi bi-trash" (click)="activateDeactivateModal(appRole)"></i>
                                        <i *ngIf="appRole.estadoRolApp == 'I'" style="color: #8C30F5"
                                            class="bi bi-check-circle" (click)="activateDeactivateModal(appRole)"></i>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>