<div class="specialty-container" *ngIf="loading">
  <div class="overlay">
    <app-spinner></app-spinner>
  </div>
</div>
<div class="specialty-container">
  <div class="modal-content" style="width: 120%;">
    <div class="modal-header">
      <div *ngIf="symptom?.deactivateSymptom">
        <h4>Activar síntoma</h4>
      </div>
      <div *ngIf="symptom?.activateSymptom">
        <h4>Inactivar síntoma</h4>
      </div>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="row">
            <div class="col-md-12">
              <div *ngIf="symptom?.deactivateSymptom">
                <p>¿Desea activar el síntoma?</p>
              </div>
              <div *ngIf="symptom?.activateSymptom">
                <p>¿Desea inactivar el síntoma?</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div>
              <button type="button" class="btn button-color" (click)="activateDeactivateSymptom()">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
