<div class="pet-container" *ngIf="loading">
  <div class="overlay">
      <app-spinner></app-spinner>
  </div>
</div>
<div class="pet-container" style="margin-bottom: 60px;">
  <div class="container-center">
      <div class="container mt-4">
          <div class="row">
              <div class="col-md-9">
                  <h2 style="color: #A18FD3">Listado de mascotas</h2>
              </div>
              <div class="col-md-3 text-right">
                  <button class="btn button-color" (click)="addViewEditPetModal(null , true ,false, false)">Registrar mascota</button>
              </div>
          </div>
          <div class="row mt-4">
              <div class="col-md-12 table-responsive">
                  <table class="table table-bordered table-striped custom-table">
                      <thead>
                          <tr>
                              <th>Id Mascota</th>
                              <th>Mascota</th>
                              <th>Cliente</th>
                              <th>Raza de perro</th>
                              <th>Tamaño de perro</th>
                              <th>Observaciones</th>
                              <th>Tratamiento</th>
                              <th>Estado</th>
                              <th>Acciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let pet of listPet; let i = index">
                              <td>{{pet.idMascota}}</td>
                              <td>{{pet.nombreMascota}}</td>
                              <td>{{pet.nombreCliente}}</td>
                              <td>{{pet.descripcionTipoMascota}}</td>
                              <td>{{pet.descripcionClaseMascota}}</td>
                              <td>{{pet.observaciones}}</td>
                              <td>{{pet.tratamiento}}</td>
                              <td>{{pet.estadoMascota === 'A' ? 'ACTIVO' : (pet.estadoMascota === 'I' ? 'INACTIVO' : '-')}}</td>
                              <td class="d-flex justify-content-center">
                                  <span class="mx-2">
                                      <i style="color: #8C30F5" class="bi bi-eye" (click)="addViewEditPetModal(pet, false, true, false)"></i>
                                  </span>
                                  <span class="mx-2">
                                      <i style="color: #8C30F5" class="bi bi-pencil" (click)="addViewEditPetModal(pet, false, false, true)"></i>
                                  </span>
                                  <span class="mx-2">
                                      <i *ngIf="pet.estadoMascota == 'A'" style="color: #8C30F5" class="bi bi-trash" (click)="activateDeactivateModal(pet)"></i>
                                      <i *ngIf="pet.estadoMascota == 'I'" style="color: #8C30F5" class="bi bi-check-circle" (click)="activateDeactivateModal(pet)"></i>
                                  </span>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
