<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top ">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="../../../../assets/images/logo.svg" alt="Logo" class="img-fluid">
      </a>

      <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse text-center" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/">Consultas
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/">Especialistas
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/">Servicios
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/">Nosotros</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/landing/login">
              <img src="../../../../assets/images/login.svg" alt="login" class="img-fluid">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>