<div class="customer-container" *ngIf="loading">
  <div class="overlay">
      <app-spinner></app-spinner>
  </div>
</div>
<div class="customer-container" style="margin-bottom: 60px;">
  <div class="container-center">
      <div class="container mt-4">
          <div class="row">
              <div class="col-md-9">
                  <h2 style="color: #A18FD3">Listado de Especialidades</h2>
              </div>
              <div class="col-md-3 text-right">
                  <button class="btn button-color" (click)="openModal(null , true ,false, false)">Registrar especialidad</button>
              </div>
          </div>
          <div class="row mt-4">
              <div class="col-md-12 table-responsive">
                  <table class="table table-bordered table-striped custom-table">
                      <thead>
                          <tr>
                              <th>Id Especialidad</th>
                              <th>Especialidad</th>
                              <th>Estado</th>
                              <th>Acciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let specialty of listSpecialty; let i = index">
                              <td>{{specialty.idEspecialidad}}</td>
                              <td>{{specialty.descripcionEspecialidad}}</td>
                              <td>{{specialty.estadoEspecialidad === 'A' ? 'ACTIVO' : (specialty.estadoEspecialidad === 'I' ? 'INACTIVO' : '-')}}</td>
                              <td class="d-flex justify-content-center">
                                  <span class="mx-2">
                                      <i style="color: #8C30F5" class="bi bi-eye" (click)="openModal(specialty, false, true, false)"></i>
                                  </span>
                                  <span class="mx-2">
                                      <i style="color: #8C30F5" class="bi bi-pencil" (click)="openModal(specialty, false, false, true)"></i>
                                  </span>
                                  <span class="mx-2">
                                    <i *ngIf="specialty.estadoEspecialidad == 'A'" style="color: #8C30F5" class="bi bi-trash" (click)="activateDeactivateModal(specialty)"></i>
                                    <i *ngIf="specialty.estadoEspecialidad == 'I'" style="color: #8C30F5" class="bi bi-check-circle" (click)="activateDeactivateModal(specialty)"></i>
                                  </span>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
