<div class="specialty-container" *ngIf="loading">
  <div class="overlay">
    <app-spinner></app-spinner>
  </div>
</div>
<div class="specialty-container">
  <div class="modal-content" style="width: 120%;">
    <div class="modal-header">
      <div *ngIf="appPermission?.deactivateAppPermission">
        <h4>Activar permiso</h4>
      </div>
      <div *ngIf="appPermission?.activateAppPermission">
        <h4>Inactivar permiso</h4>
      </div>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="row">
            <div class="col-md-12">
              <div *ngIf="appPermission?.deactivateAppPermission">
                <p>¿Desea activar el permiso?</p>
              </div>
              <div *ngIf="appPermission?.activateAppPermission">
                <p>¿Desea inactivar el permiso?</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div>
              <button type="button" class="btn button-color" (click)="activateDeactivateAppPermission()">Aceptar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
