<div>
  <div style="margin-top: 100px;">
    <div class="container mt-5">
      <div style="margin-top: 50px;">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6">
            <div>
              <h2>Veterinaria Dashy Pets</h2>
              <p>Si nuestros clientes pudieran hablar, contarían sobre su experiencia de amor y comprensión en nuestras
                sedes.
                Confía en nosotros, al igual que ellos.</p>
              <div>
                <button class="btn button-color" type="button">Contáctanos</button>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="margin-top-image">
              <img src="../../../../../assets/images/image_car.png" alt="Imagen" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
