.button-color{
  background-color: #8C30F5; /* Color de fondo del botón (azul en este caso) */
  color: #ffffff; /* Color del texto del botón (blanco en este caso) */
  border: none; /* Quitar el borde del botón */
  padding: 10px 20px; /* Espaciado interno del botón */
  border-radius: 5px; /* Borde redondeado del botón */
}
