<div class="container-fluid">
    <app-top-widgets>

    </app-top-widgets>
</div>
<div class="container-fluid">
    <div class="row justify-content-around">
        <div class="widget col-5">
            <app-grafico-raza-rango-edad></app-grafico-raza-rango-edad>
        </div>
        <div class="widget col-5">
            <app-grafico-raza-sexo></app-grafico-raza-sexo>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="widget col-6">
            <app-grafico-sintomas-positivo-parvovirus></app-grafico-sintomas-positivo-parvovirus>
        </div>
        <div class="widget col-4">
            
        </div>
    </div>
</div>
<div class="bottom-section dashboard-container">
    <div class="widget left">
        
    </div>
    <div class="widget right">
        
    </div>
</div>
